/sfExe/*
/sfSrc/*
/bin/*.exe
/build/*
/Build/*
/lib/libusb-1.0.25/Build/*
/lib/libusb-1.0.25/src/*
/lib/libusb-1.0.25/tmp/*
/lib/SDL2-2.28.1/Build/*
/lib/SDL2-2.28.1/tmp/*
/lib/wxWidgets-3.2.2.1/sfBuild*
/lib/wxWidgets-3.2.2.1/src/wxWidgets322-stamp/*
/lib/wxWidgets-3.2.2.1/tmp/*
/lib/libusb-1.0.25/Makefile.in
/lib/libusb-1.0.25/aclocal.m4
/lib/libusb-1.0.25/config.h.in
/lib/libusb-1.0.25/configure
/lib/libusb-1.0.25/examples/Makefile.in
/lib/libusb-1.0.25/libusb/Makefile.in
/lib/libusb-1.0.25/tests/Makefile.in

